{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css'%}"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      type="image/x-icon"
    />
    <title>MusiKeyy | {% block title %}{% endblock title %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid" bis_skin_checked="1">
        <img
          src="https://i.ibb.co/26QNdQL/black-white-simple-music-logo-500-x-200-px.png"
          alt="Logo"
          border="0"
          width="130px"
        />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor02"
          aria-controls="navbarColor02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse"
          id="navbarColor02"
          bis_skin_checked="1"
        >
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#"
                ><i class="ri-home-smile-fill"></i> Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="ri-mv-fill"></i> Music</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><i class="ri-speak-fill"></i> Artist's</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                ><i class="ri-account-pin-circle-fill"></i> Account</a
              >
              <div class="dropdown-menu" bis_skin_checked="1">
                <a
                  class="dropdown-item"
                  href="#"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasExample"
                  aria-controls="offcanvasExample"
                  ><i class="ri-account-circle-fill"></i> My Profile</a
                >
                <a class="dropdown-item" href="#"
                  ><i class="ri-mv-fill"></i> My Song's</a
                >
                <a class="dropdown-item" href="#"
                  ><i class="ri-file-add-fill"></i> Upload Music</a
                >
                <div class="dropdown-divider" bis_skin_checked="1"></div>
                <a class="dropdown-item" href="#"
                  ><i class="ri-logout-box-r-fill"></i> Logout</a
                >
              </div>
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-sm-2"
              type="search"
              placeholder="Search"
            />
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">
              <i class="ri-search-line"></i>
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasExample"
      aria-labelledby="offcanvasExampleLabel"
      bis_skin_checked="1"
    >
      <div class="offcanvas-header" bis_skin_checked="1">
        <div class="profile-container d-flex align-items-center gap-5">
          <img src="https://avatars.githubusercontent.com/u/110966247?s=400&u=096b73bfaf277bcd4875ec6561bbb4d0be03bd09&v=4" alt="" width="90px"
          style="border-radius:100px">
          <div class="user-details">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Pratikx64</h5>
        <p>A person who loves music.</p>
      </div>
      </div>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body" bis_skin_checked="1">
        <div bis_skin_checked="1">
          <p>Welcome to your profile <strong>Pratikx64</strong>. Here you can manage your songs , album and the artists. </p>
          <hr>
          <h4>My creations.</h4>
        </div>       
      </div>
    </div>
    {% block body %} {% endblock body %}
    <footer class="mt-auto mb-4">
      <div class="text-center">
        <span>
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          Pratik Lamichhane
        </span>
        <br />
        Source Code : <i class="ri-github-fill"></i>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script src="{% static "js/main.js" %}"></script>
  </body>
</html>
