{% extends "base_app/base.html" %} {% block title %}Home{% endblock title %}
{%block body %}
<div class="stats-container m-5 mt-4 d-flex flex-wrap justify-content-between user-select-none">
  <div class="stats d-flex gap-5 flex-wrap">
    <div
      class="card border-primary mb-3"
      style="max-width: 20rem"
      bis_skin_checked="1"
    >
      <div class="card-header" bis_skin_checked="1">Total Songs</div>
      <div class="card-body" bis_skin_checked="1">
        <h4 class="card-title">{{total_song}} <i class="ri-music-2-fill"></i></h4>
        <p class="card-text">Songs Available.</p>
      </div>
    </div>
    <div
      class="card border-success mb-3"
      style="max-width: 20rem"
      bis_skin_checked="1"
    >
      <div class="card-header" bis_skin_checked="1">Total Creators</div>
      <div class="card-body" bis_skin_checked="1">
        <h4 class="card-title">{{total_artist}} <i class="ri-speak-fill"></i></h4>
        <p class="card-text">Artists Available.</p>
      </div>
    </div>
    <div
      class="card border-light mb-3"
      style="max-width: 20rem"
      bis_skin_checked="1"
    >
      <div class="card-header" bis_skin_checked="1">Total Albums</div>
      <div class="card-body" bis_skin_checked="1">
        <h4 class="card-title">{{total_album}} <i class="ri-album-fill"></i></h4>
        <p class="card-text">Albums Available.</p>
      </div>
    </div>
  </div>

  <div class="notifications user-select-none">
    <h5>Notifications <i class="ri-notification-3-fill"></i></h5>

    <div
      class="toast show"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      bis_skin_checked="1"
    >
      <div class="toast-header" bis_skin_checked="1">
        <strong class="me-auto">{{ latest_song.album.artist.artistName }}</strong>
        <small>{{ latest_song.created | timesince }} ago</small>
        <button
          type="button"
          class="btn-close ms-2 mb-1"
          data-bs-dismiss="toast"
          aria-label="Close"
        >
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="toast-body" bis_skin_checked="1">
        Song - <strong>{{ latest_song.songName }} </strong>.
      </div>
    </div>
  </div>
</div>
<div class="body-section m-5 table-responsive user-select-none">
  <hr />
  <h4>Latest Songs <i class="ri-fire-fill"></i></h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Song Name</th>
        <th scope="col">Artist Name</th>
        <th scope="col">Album</th>
        <th scope="col">Duration</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for song in songs %}
        <th scope="row">
          <img
            src="{{song.songThumbnail.url}}"
            width="50px"
            style="border-radius: 100px"
            alt=""
          />
        </th>
        <td>{{ song.songName }}</td>
        <td>{{ song.album.artist.artistName }}</td>
        <td>{{ song.album.albumName }}</td>
        <td>
          <span id="duration{{ forloop.counter }}">Loading...</span>
          <script>
            function formatDuration(time) {
              var minutes = Math.floor(time / 60);
              var seconds = Math.floor(time % 60);
              var formattedSeconds = seconds < 10 ? "0" + seconds : seconds;
              return minutes + ":" + formattedSeconds;
            }
            (function () {
              var audio = new Audio("{{ song.song.url }}");
              var durationSpan = document.getElementById(
                "duration{{ forloop.counter }}"
              );

              audio.addEventListener("loadedmetadata", function () {
                var duration = audio.duration;
                durationSpan.textContent = formatDuration(duration);

                setInterval(function () {
                  if (!audio.paused && audio.currentTime > 0) {
                    duration -= 1; 
                    durationSpan.textContent = formatDuration(duration);
                  }
                }, 1000);
              });
            })();
          </script>
        </td>

        <td>
          <h2 class="float-start m-3 mt-0 mb-0 mc-0">
            <i class="ri-play-circle-fill"></i>
            <div class="audio-file d-none">
              <audio controls>
                <source src="{{song.song.url}}" type="audio/mpeg" />
                Your browser does not support the audio tag.
              </audio>
            </div>
          </h2>
          <h2>
            <a
              class="table-dark align-items-center text-decoration-none"
              data-bs-toggle="modal"
              data-bs-target="#musicmodal{{song.id}}"
              href="{% url 'viewsong' song.id %}"
            >
              <i class="ri-music-line"></i>
            </a>
          </h2>
          <div
            class="modal"
            id="musicmodal{{song.id}}"
            tabindex="-1"
            aria-labelledby="mymodellabel1"
            aria-hidden="true"
            bis_skin_checked="1"
          >
            <div class="modal-dialog" role="document" bis_skin_checked="1">
              <div class="modal-content" bis_skin_checked="1">
                <div class="modal-header" bis_skin_checked="1">
                  <h4 class="modal-title"><strong>{{ song.songName }}</strong></h4>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true"></span>
                  </button>
                </div>
                <div class="modal-body" bis_skin_checked="1">
                  <img
                    src="{{song.songThumbnail.url}}"
                    width="400px"
                    style="border-radius: 20px"
                    alt=""
                  />
                  <p class="mt-4">
                    Artist: <strong>{{ song.album.artist.artistName }} </strong>
                  </p>
                  <p>Album: <strong>{{ song.album.albumName }}</strong></p>
                </p>
                <p>Uploaded at : <strong>{{ song.created }}</strong></p>
                </div>
                <div class="modal-footer" bis_skin_checked="1">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}

  </table>
</tbody>

<div class="pagination-container">
  <ul class="pagination">
    {% if songs.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1">&laquo;</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ songs.previous_page_number }}">{{ songs.previous_page_number }}</a>
    </li>
    {% endif %}
    <li class="page-item active">
      <a class="page-link" href="?page={{ songs.number }}">{{ songs.number }}</a>
    </li>
    {% if songs.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ songs.next_page_number }}">{{ songs.next_page_number }}</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ songs.paginator.num_pages }}">&raquo;</a>
    </li>
    {% endif %}
  </ul>
</div>
</div>
<div class="card text-white bg-dark mb-3 user-select-none mx-auto fixed-bottom" style="max-width: 20rem;" bis_skin_checked="1">
  <div class="card-body" bis_skin_checked="1">
    <p class="card-title text-center">
      <i class="ri-skip-back-fill ri-2x float-start" onclick="playPrevious()"></i>
Audio Controller
      {% comment %} <i class="ri-play-circle-fill" onclick="playPause()"></i> {% endcomment %}
      <i class="ri-skip-forward-fill ri-2x float-end" onclick="playNext()"></i>
    </p>
    <div class="audio-controller">
      <input type="range" class="form-range" id="customRange1" 
             oninput="seekAudio(this.value, 'audio1')" min="0" max="100" value="0">
      {% comment %} <label id="audioControllerLabel" for="customRange1" class="form-label">Audio controller</label> {% endcomment %}
    </div>
  </div>
</div>



<script>
  const audioElements = document.querySelectorAll('audio');
  let currentAudioIndex = 0;

  function seekAudio(value, audioId) {
    const audio = document.getElementById(audioId);
    const seekTime = (value / 100) * audio.duration;
    audio.currentTime = seekTime;
  }

  function playNext() {
    audioElements.forEach(audio => audio.pause()); // Pause all audio elements

    currentAudioIndex = (currentAudioIndex + 1) % audioElements.length;
    audioElements[currentAudioIndex].play();
    updateControllerLabel(currentAudioIndex);
  }

  function playPrevious() {
    audioElements.forEach(audio => audio.pause()); // Pause all audio elements

    currentAudioIndex = (currentAudioIndex - 1 + audioElements.length) % audioElements.length;
    audioElements[currentAudioIndex].play();
    updateControllerLabel(currentAudioIndex);
  }

  function playPause() {
    const currentAudio = audioElements[currentAudioIndex];
    const playPauseIcon = document.querySelector('.ri-play-circle-fill');

    if (currentAudio.paused) {
      audioElements.forEach(audio => audio.pause()); 
      currentAudio.play();
      playPauseIcon.classList.remove('ri-play-circle-fill');
      playPauseIcon.classList.add('ri-pause-circle-fill');
    } else {
      currentAudio.pause();
      playPauseIcon.classList.remove('ri-pause-circle-fill');
      playPauseIcon.classList.add('ri-play-circle-fill');
    }
  }

  function updateControllerLabel(index) {
    const audioControllerLabel = document.getElementById('audioControllerLabel');
    audioControllerLabel.textContent = audioElements[index].getAttribute('data-song-name');
  }

  audioElements.forEach(function(audio) {
    audio.addEventListener('timeupdate', function() {
      const audioId = audio.getAttribute('id');
      const audioController = document.getElementById('customRange1');
      const value = (audio.currentTime / audio.duration) * 100;
      audioController.value = value;
    });
  });
</script>

 {% endblock body %}
